<?xml version="1.0" encoding="utf-8"?>
<!-- 	
*	Garcés Marín Daniel 		
*	TESIS <Construcción de una plataforma robótica abierta para pruebas de desempeño de componentes y algoritmos>
*	< VERSION EXTRA> Launch para la prueba del sonido por medio de la paquetería playsound
*
*
*   Ultima versión: 9 de Mayo del 2019	-->
	
<launch>
<!--	 ダ・ガ・マ・jû-san -->
  	<node name="soundplay_node" pkg="sound_play" type="soundplay_node.py"/>
	<node name="say" pkg="sound_play" type="say.py" respawn="true">
  		<param name="say" command="$(find roslaunch) THE SLAYER HAVE ENTER THE ZONE' "/>
	</node>

	
	<!--<node name="play" pkg="sound_play" type="play.py" respawn="true">
  		<param name="play" command="$(find roslaunch) /home/danielg/RotomBotto/catkin_ws/src/VEGA/media/DOOM_BFG_Division.ogg"/>
	</node>-->

</launch>