<?xml version="1.0" encoding="utf-8"?>
<!-- 	
*	Garcés Marín Daniel 		
*	TESIS <Construcción de una plataforma robótica abierta para pruebas de desempeño de componentes y algoritmos>
*	< VMODALIDAD MAP > Launch para la obtencion de un mapa del entorno por medio del laser
*
*
*   Ultima versión: 24 de Mayo del 2019	-->
	
<launch>

	<group ns ="ROS">
<!--	 ダ・ガ・マ・jû-san -->

        <!--	Inicializar nodo rplidar para su uso en conjunto con RVIZ para la vizualización de los datos-->
  		<include file="$(find rplidar_ros)/launch/rplidar.launch" /> <!-- Topico /ROS/scan -->
  		<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />

	</group>

	<!--<group ns="hardware">
        <node name="joy_node" pkg="joy" type="joy_node" output="screen"/> 
		<node name="joystick_test" pkg="joystick" type="joystick_test.py" output="screen"/>
		<node name="motor_test" pkg="motor" type="motor_test.py" output="screen" />
	</group>

	<group ns="software">
		<node name="rotombotto_test" pkg="rotombotto" type="rotombotto_test" output="screen" />
	</group>-->

</launch>